project:
  type: website
  output-dir: docs
  resources:
    - "*.png"
    - "*.jpeg"
    - "*.svg"
    - "*.pdf"
    - CNAME

website:
  title: "JOSTA"
  favicon: images/cover.jpg
  site-url: https://www.jostapubs.com/
  # repo-url: https://github.com/STATOBERRYPAPAYA/JOSTA/
  open-graph:
    image: images/cover.jpg
    image-alt: "JOSTA Volume 1 Cover"
  twitter-card:
    image: images/papayalogo.png
    image-alt: "JOSTA Journal"
    card-style: summary_large_image
  sidebar:
    logo: images/sidebarcover.png
    style: "docked"
    search: true
    contents:
      - href: index.qmd
        text: Home
      - section: "Submit Articles"
        contents:
          - submit.qmd
          - authorguide.qmd
          - peerReview.qmd
          - APC.qmd
          - Ethics.qmd
      - published.qmd
      - section: "Volumes"
        contents:
          - section: "Volume 1"
            contents:
                  - volume1.qmd
      # - categories.qmd
      - href: editorial.qmd
        text: Editorial Board
      - href: editorialsection.qmd
        text: Editorial Sections
      - href: report.qmd
        text: Report a Problem
      - href: plagiarism.qmd
        text: Plagiarism Policy
      - href: contact.qmd
        text: Contact Us
  page-footer:
    border: true
    left: |
      Published by PAPAYA Academic Press  
      <a href="https://www.statoberry.com/papaya">
        ![](/images/papayalogo.png){style='width:auto; height:25px; padding-left:10px; padding-right:10px; margin-bottom:5px;'}
      </a>
    center: |
      <a href="https://www.statoberry.com/papaya">
        ![](/images/Josta.png){style='height:90px;'}
      </a>  
      <div style="margin-top:4px; font-size:0.9em; color:#555;">
        ✉️ Contact: <a href="mailto:support@jostapubs.com">support@jostapubs.com</a>
      </div>
    right: |
      Licensed under [CC-BY-NC-ND 4.0 Int License](https://creativecommons.org/licenses/by-nc-nd/4.0/)  
      <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        ![](/images/cclogo.png){style='width:auto; height:35px; padding-left:10px; padding-right:10px; margin-bottom:5px;'}
      </a>

reader-mode: true
page-navigation: true
back-to-top-navigation: true

format:
  html:
    theme:
      light:
        - sandstone
      dark:
        - slate
    toc: true
    number-sections: true
    page-layout: full
    highlight-style: github
    monofont: Fira Code
    mainfont: Georgia
    monobackgroundcolor: "#f3fcd2"
    math: mathjax

execute:
  freeze: auto
  echo: false
